# Exercícios - Aula 03 e Aula 04
___

1. Escreva uma função python que receba uma lista e separe os múltiplos de 5. Ao final ela retorna a soma de todos os valores da lista de entrada que são múltiplos de 5.

In [ ]:
def get_multiplos_de_5(lista):
  return list(filter(lambda x: x % 5 == 0, lista))

get_multiplos_de_5([1,2,3,4,5,6,7,9,10,11,12,13,14,15])

[5, 10, 15]

2. Escreva uma função para verificar se uma palavra é um palíndromo e retorne 1 em caso positivo e 0 (zero) em caso negativo.

In [ ]:
def get_palindromo(palavra : str):
  return palavra == palavra[::-1]

get_palindromo("tenet")

True

3. Escreva uma função que receba uma lista crie um dicionário com a contagem dos valores dessa lista.

In [ ]:
def get_dicionario(lista):
  dicionario = {}
  for item in lista:
    if dicionario.get(item):
      continue
    dicionario[str(item)] = sum(map(lambda x: x == item, lista)) 
  return dicionario

get_dicionario([1, 2, 2, 2, 3, 3, 3, 3])

{'1': 1, '2': 3, '3': 4}

4. Escreva uma função que receba uma lista de listas, itere sobre cada lista, some seus valores, gere uma segunda lista e descubra o desvio padrão dela.

entrada : [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

In [14]:
import math

def variancia(dados, amostral = False):
    n = len(dados)
    media = sum(dados) / n
    return sum((x - media) ** 2 for x in dados) / (n - int(amostral))

def desvio_padrao(dados, amostral = False):
  d2 = variancia(dados, amostral)
  d = math.sqrt(d2)
  return d

def funcao(listas):
  for lista in listas:
    print(f"Lista: {lista}")
    print(f"Soma da lista: {sum(lista)}")
    print(f"Desvio padrão da lista: desvio_padrao: {round(desvio_padrao(lista, amostral = True), 2)}", end="\n\n")


entrada = [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

funcao(entrada)

Lista: [12, 12, 5, 6, 3, 6, 8, 5, 5, 5]
Soma da lista: 67
Desvio padrão da lista: desvio_padrao: 3.06

Lista: [3, 3, 3, 3, 4, 4, 15, 89, 20, 20]
Soma da lista: 164
Desvio padrão da lista: desvio_padrao: 26.51

Lista: [15, 15, 15, 20, 30, 35, 35, 35, 15, 15]
Soma da lista: 230
Desvio padrão da lista: desvio_padrao: 9.49

Lista: [10, 10, 10, 10, 15, 15, 15, 15]
Soma da lista: 100
Desvio padrão da lista: desvio_padrao: 2.67

Lista: [5, 5, 2, 2]
Soma da lista: 14
Desvio padrão da lista: desvio_padrao: 1.73

Lista: [8, 8, 89, 89, 898, 1000]
Soma da lista: 2092
Desvio padrão da lista: desvio_padrao: 467.54


5. Escreva uma função que gere uma sequencia de Fibonnaci. O único parâmetro é a quantidade de números que devem gerados. (Fibonnaci é uma sequencia onde o próximo número é a soma dos dois imediatamente anteriores a ele).

In [69]:
import functools

def fibonnaci(quantidade):
  if quantidade <= 0:
    return 

  if quantidade == 1:
    return "0, .."
  
  numeros = [0, 1]
  
  while len(numeros) < quantidade:
      numeros.append(numeros[-1] + numeros[-2])

  return f"{functools.reduce(lambda x, y: f'{x} , {y}', numeros)}, .."


    
fibonnaci(19)

'0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584, ..'

6. Monte uma função que vai calcular e comparar os custos de uma viagem para 3 cidades diferentes e que, ao final, irá recomendar qual é o destino mais barato. Essa função deve receber somente uma parâmetro 'noites'. A partir desse argumento a função deve calcular o custo total de viagem para cada uma das cidades. Utilize os dados abaixo.


|   Cidade  | Hotel/noite | Alimentação/noite | Locomoção/noite |
|:---------:|:-----------:|:-----------------:|:---------------:|
| Abu Dhabi |     1300    |        200        |       150       |
|  Genebra  |     1200    |        150        |        80       |
|    Oslo   |     1000    |        250        |       100       |

In [10]:
class Cidade:

  def __init__(self, nome, hotel_noite, alimentacao_noite, locomocao_noite):
    self.nome = nome
    self.hotel_noite = hotel_noite
    self.alimentacao_noite = alimentacao_noite
    self.locomocao_noite = locomocao_noite

  def custo_total(self, noites):
    return (self.hotel_noite + self.alimentacao_noite + self.locomocao_noite) * noites

  def __str__(self):
    return self.nome
  
  def __repr__(self):
    return self.nome

cidades = [
  Cidade("Abu Dhabi", 1300, 200, 150),
  Cidade("Genebra", 1200, 150, 80),
  Cidade("Oslo", 1000, 250, 100)
]

In [22]:
import functools

def custo_mais_barato(noites):
  if noites <= 0:
    return

  return functools.reduce(lambda x, y: x if x.custo_total(noites) < y.custo_total(noites) else y, cidades)

custo_mais_barato(10)

Oslo

7. Defina uma função que calcule o z-score de todos os valores de uma lista e encontre quem são os outliers (z-score abaixo de -3 e acima de 3). Use a lista abaixo:

lista = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]

In [24]:
lista = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]

In [34]:
import math

def z_score(x, mean, sd):
  return (x - mean) / sd

def avg(terms):
  return sum(terms) / len(terms)

def variancia(dados, amostral = False):
    n = len(dados)
    media = sum(dados) / n
    return sum((x - media) ** 2 for x in dados) / (n - int(amostral))

def desvio_padrao(dados, amostral = False):
  d2 = variancia(dados, amostral)
  d = math.sqrt(d2)
  return d

def z_score_lista(lista):
  media = avg(lista)
  desvio_padrao_calculado = desvio_padrao(lista)
  return list(map(lambda x: z_score(x, media, desvio_padrao_calculado), lista))

z_score_lista(lista)

[0.004859569782318368,
 -0.0402292220123882,
 -2.6180328741137937,
 0.01897828236449921,
 0.010324877878646437,
 -4.299070556076035,
 -0.19917859914726288,
 0.45210394899849865,
 0.009413993195925093,
 3.3737665688272123,
 -0.02747683645428937,
 -0.05890235800817577,
 0.0007605887100723172,
 0.007592223830482403,
 -0.10763468853376772,
 -0.009259142799862475,
 -0.033853029233338786,
 -0.038407452646945506,
 0.015790185974974506,
 -0.05252616522912635,
 -0.023833297723403993,
 -0.037952010305584837,
 -0.03749656796422416,
 -0.10171393809607897,
 -0.09078332190342284,
 -0.009259142799862475,
 -0.019734316651157942,
 -0.006981931093059114,
 -0.024288740064764665,
 -0.08896155253798015,
 -0.09078332190342284,
 7.473658525755984,
 -0.008803700458501804,
 -0.0033383923621737345,
 -0.019734316651157942,
 -0.008803700458501804,
 -0.02155608601660063,
 -0.03931833732966685,
 -0.08349624444165207,
 0.01670107065769585,
 -0.02884316347837139,
 -0.007892815775780458,
 -0.005615604068977096,
 0.0016714733927936619,
 -0.03658568328150282,
 -0.07757549400396334,
 -0.04159554903647022,
 -0.08167447507620938,
 -0.06801120483538921,
 0.02353270577810594,
 0.027176244508991317,
 -0.05844691566681509,
 0.01806739768177787,
 -0.10125849575471829,
 0.02216637875402392,
 0.023077263436745266,
 -0.0730210705903566,
 -0.10262482277880032,
 -0.026565951771568026,
 0.01078032022000711,
 -0.06026868503225778,
 -0.04569453010871627,
 -0.09214964892750485,
 -0.09761495702383292,
 -0.006071046410337769,
 -0.033853029233338786,
 -0.06254589673906115,
 -0.09852584170655426,
 -0.021100643675239956,
 -0.07347651293171728,
 -0.06801120483538921,
 0.012146647244089127,
 -0.03476391391606013,
 -0.03704112562286349,
 -0.09351597595158687,
 -0.07211018590763527,
 -0.03658568328150282,
 -0.012902681530747855,
 0.013968416609531817,
 -0.09397141829294754,
 0.00895855085456442,
 -0.047060857132798284,
 -0.05207072288776568,
 1.3251869173869077,
 -0.053437049911847695,
 -0.0074373734344197855,
 0.0016714733927936619,
 -0.04432820308463425,
 -0.09078332190342284,
 0.023077263436745266,
 0.019889167047220557,
 -0.050704395863683666,
 -2.272807579362404,
 -0.09670407234111157,
 -0.10535747682696435,
 0.015334743633613833,
 0.026720802167630644,
 -0.03476391391606013,
 -0.09989216873063628,
 -0.050704395863683666]


8. Defina uma função que recebe uma lista aplica a fórmula abaixo a cada um dos valores e retorna uma lista com o resultado.

![minmax](https://androidkt.com/wp-content/uploads/2020/10/Selection_060.png)

In [42]:
def x_linha(lista):
  return list(map(lambda x: (x - min(lista)) / (max(lista) - min(lista)), lista))

In [43]:
x_linha([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[0.0,
 0.1111111111111111,
 0.2222222222222222,
 0.3333333333333333,
 0.4444444444444444,
 0.5555555555555556,
 0.6666666666666666,
 0.7777777777777778,
 0.8888888888888888,
 1.0]

9. Escreva um código que dê print em todos os quadrados dos valores de 0 a 10.

In [48]:
def get_quadrados_0_10():
  [print(x ** 2) for x in range(0, 11)]

get_quadrados_0_10()

0
1
4
9
16
25
36
49
64
81
100

10. Escreva um código que encontre a soma de todos os valores pares de 0 a 10.

In [52]:
def get_somas_dos_pares_0_10():
  return sum([x for x in range(0, 11) if x % 2 == 0])

get_somas_dos_pares_0_10()

30


11. Construa uma função que receba 3 valores (a,b,c) e retorne uma lista com todos os valores entre 'a' e 'b' que são múltiplos de 'c'. Utilize os valores abaixo (10,500,23).

In [54]:
def get_multiplos_de_c_entre_a_e_b(a, b, c):
  return [x for x in range(a, b + 1) if x % c == 0]

get_multiplos_de_c_entre_a_e_b(10, 500, 23)

[23,
 46,
 69,
 92,
 115,
 138,
 161,
 184,
 207,
 230,
 253,
 276,
 299,
 322,
 345,
 368,
 391,
 414,
 437,
 460,
 483]

12. Escreva um código para ter o seguinte output:
    
    1 ---- 99
    2 ---- 98
    3 ---- 97
    4 ---- 96
    .
    .
    .
    99 ---- 1

In [58]:
def get_output():
  a = 1
  b = 99
  [print(f"{a + x} ---- {b - x}", end=" ") for x in range(a - 1, b + 1)]

get_output()

1 ---- 99 2 ---- 98 3 ---- 97 4 ---- 96 5 ---- 95 6 ---- 94 7 ---- 93 8 ---- 92 9 ---- 91 10 ---- 90 11 ---- 89 12 ---- 88 13 ---- 87 14 ---- 86 15 ---- 85 16 ---- 84 17 ---- 83 18 ---- 82 19 ---- 81 20 ---- 80 21 ---- 79 22 ---- 78 23 ---- 77 24 ---- 76 25 ---- 75 26 ---- 74 27 ---- 73 28 ---- 72 29 ---- 71 30 ---- 70 31 ---- 69 32 ---- 68 33 ---- 67 34 ---- 66 35 ---- 65 36 ---- 64 37 ---- 63 38 ---- 62 39 ---- 61 40 ---- 60 41 ---- 59 42 ---- 58 43 ---- 57 44 ---- 56 45 ---- 55 46 ---- 54 47 ---- 53 48 ---- 52 49 ---- 51 50 ---- 50 51 ---- 49 52 ---- 48 53 ---- 47 54 ---- 46 55 ---- 45 56 ---- 44 57 ---- 43 58 ---- 42 59 ---- 41 60 ---- 40 61 ---- 39 62 ---- 38 63 ---- 37 64 ---- 36 65 ---- 35 66 ---- 34 67 ---- 33 68 ---- 32 69 ---- 31 70 ---- 30 71 ---- 29 72 ---- 28 73 ---- 27 74 ---- 26 75 ---- 25 76 ---- 24 77 ---- 23 78 ---- 22 79 ---- 21 80 ---- 20 81 ---- 19 82 ---- 18 83 ---- 17 84 ---- 16 85 ---- 15 86 ---- 14 87 ---- 13 88 ---- 12 89 ---- 11 90 ---- 10 91 ---- 9 92 ---- 8 93 ---- 7 94 ---- 6 95 ---- 5 96 ---- 4 97 ---- 3 98 ---- 2 99 ---- 1 100 ---- 0

    
13. Construa uma função que receba um input e printe um padrão conforme exemplo.

input = 5

output:

+<br>
++<br>
+++<br>
++++<br>
+++++

In [64]:
def print_mais(input):
  [print("+" * x) for x in range(input + 1)]

print_mais(5)

+
++
+++
++++
+++++

14. Itere sobre a lista abaixo e crie uma nova lista com todos os nomes em letras maisculuas e com underline ao invés de espaços. Dica: utilize compreensão de listas.

lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

In [67]:
lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

[x.upper().replace(" ", "_") for x in lista_nomes]

['GERALT_DE_RÍVIA',
 'YENNEFER_DE_VENGERBERD',
 'TRISS_MARIGOLD',
 'EMHYR_VAR_EMREIS',
 'JASKIER_O_BARDO']

15. Voce é um jogador de tênis. Para decidir se você vai treinar hoje você deve avaliar duas coisas: o tempo e a temperatura. Crie um programa para saber se você deve ou não treinar hoje de acordo com as seguintes especificações: 

- Tempo: chuvoso -> não jogar
- Tempo: ensolarado ou nublado -> jogar
- Temperatura maior ou igual a 15 graus e tempo ensolarado ou nublado -> jogar
- Temperatura menor que 15 graus e tempo ensolarado ou nublado -> não jogar

Se o dia estiver ensolarado e a temperatura for de 16 graus. Você irá ou não jogar?

In [73]:
def vai_treinar_tenis_hoje(tempo, temperatura):
  if tempo == 'chuvoso':
    return False
  if temperatura >= 15 and (tempo == "ensolarado" or tempo == "nublado"):
    return True
  return False


vai_treinar_tenis_hoje('ensolarado', 16)

True

16. Pesquise e use a função ```zip()``` para juntar as duas listas abaixo.

nomes = ['nasser','joao','mateus']
salarios = [1000,1500,5000]

In [74]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> zip object
 |
 |  Return a zip object whose .__next__() method returns a tuple where
 |  the i-th element comes from the i-th iterable argument.  The .__next__()
 |  method continues until the shortest iterable in the argument sequence
 |  is exhausted and then it raises StopIteration.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [76]:
nomes = ['nasser','joao','mateus']
salarios = [1000,1500,5000]

In [80]:
[x for x in zip(nomes, salarios)]

[('nasser', 1000), ('joao', 1500), ('mateus', 5000)]

17. Considera as duas listas abaixo, a primeira demonstra o valor real de venda de uma casa e a segunda demonstra o valor recomendado por um modelo de regressão. Gere uma terceira lista com o resíduo de cada ponto. O resíduo é o resultado da subtração entre o valor real e o valor predito para determinado ponto.

real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]

In [81]:
real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]

In [82]:
def residuo(real, predito):
  return [x[0] - x[1] for x in zip(real, predito)]

residuo(real, predito)

[-11764, 3270, -1048, -41000]

18. Ainda usando os dados da questao 17 calcule, sem utilizar bibliotecas, o RMSE do valor predito. Referência: https://tinyurl.com/yd9ljcmj